*{
  font-family: 'Dosis' ,sans-serif;
  margin: 0;
  padding: 0;
}
.body{
   background: rgb(238, 242, 245);
 }
.main{
  background: rgb(238, 242, 245);
}
img{
  width: 100px;
}
.logo{
  margin-left: 100px;
}
.header {
  display: flex;
  box-shadow: 0 3px 5px #7a7373;
  position: relative;
  z-index: 999;
  align-items: center;
  justify-content: center;
}
.header ul{
    display: flex;
    align-items: center;
    margin: 0 50px;
 }
.header ul li{
  list-style: none;
}
.header ul li a{
  text-align: left;
  display: inline-block;
}
.header ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  background: #ee5e5e;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -30px;
  transition: 0.5s;
}
.header ul li a:hover::after{
  width: 100%;
}
ul li a{
  display: inline-block;
  list-style: none !important;
  justify-content: space-between;
  margin: 0 10px;
  color: #675e5e;
  text-decoration: none !important;
  position: relative;
  font-size: 19px;
}
ul a:hover{
  color: black;
}
.ul2{
  list-style: none;
  padding-left: 15%;
}
.ul2 li{
  margin:20px 15px;
}
.ul2 .enterRegistration{
  margin: 0;
}
.ul2 .enterRegistration a:hover::after{
  content: none;
}
.cod{
  color: #817474;
  font-size: 17px;
}
h2{
  font-weight: bold;
}
.button{
  width: 150px;
  height: 40px;
  background-color:rgb(238, 242, 245);
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px !important;
  border: 1px solid;
}
.button:hover{
  background-color: #212020;
  border: 1px solid black;
  color: white;
  box-shadow: 0 2px 25px rgb(133, 130, 130);
  transition-duration: 0.5s;
  cursor: pointer;
}
.buttonK{
  background-color: white;
}
.headerVideo{
  position: absolute;
  right: 0;
  width: 50%;
  height: 700px;
  background-image: url('../src/images/headerImg.jpg');
  background-position: left -80px;
  background-repeat: no-repeat;
  background-size: 100%;
}
/*.headerVideo .btn-link{*/
/*  position: absolute;*/
/*  right: 30%;*/
/*  top: 32%;*/
/*  transform: translateY(-50%);*/
/*  width: 100px;*/
/*  height: 100px;*/
/*  padding: 0;*/
/*  cursor: pointer;*/
/*}*/
/*.headerVideo .btn-link span{*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  display: block;*/
/*  border-radius: 50%;*/
/*  background-color: #fff;*/
/*  opacity: .5;*/
/*  box-shadow: 0 4px 35px #000;*/
/*}*/
/*.headerVideo .btn-link span img{*/
/*  width: 35px;*/
/*  height: 35px;*/
/*  margin: 33%;*/
/*}*/

.videolar{
  margin: 50px auto;
  display: flex;
  padding-bottom: 40px;
}
.left .img{
  width: 570px;
  height: 450px;
  vertical-align: bottom;
}

.left .text{
  padding: 40px;
  background-color: white;
  text-align: center;
  border-radius: 0 0 5px 5px;
}
.left .text:hover{
  box-shadow: 0 2px 15px rgba(0,0,0,0.5);
}
.right1{
  display: flex;
}
.right2{
  display: flex;
}
.right .img{
  height: 180px;
  width:270px;
  margin-left: 10px;
  vertical-align: bottom;
}
.right .text1{
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 270px;
  padding: 20px;
  padding-bottom: 10px;
  background-color: white;
  text-align: center;
  border-radius: 0 0 5px 5px;
}
.right .text1:hover{
  box-shadow: 0 2px 15px rgba(0,0,0,0.5);
}
.spikerlar{
  display: flex;
  /*width: 1200px;*/
  margin: 50px auto;
}
.spikerlar p{
  font-size: 18px;
  width: 500px;
}
.spikerlar2 .buttonBarchasi{
  margin-left: 330%;
}
.footer{
  display: flex;
  background: white;
  align-items: center;
  justify-content: center;
}
.footer ul{
  list-style: none;
  display: flex;
  padding-top: 2%;
  margin-left: 40px;
}
.footerNumber ul{
  margin-bottom: 2%;
  margin-right: 50px;
}
