.admin{
    width: 700px;
}

.saveNew{
    position: relative;
}
.editOld{
    position: relative;
}

.butt{
    border-radius: 7px;
    outline: none;
    font-size: 17px;
    font-weight: bold;
    font-family: cursive;
    width: 100px;
    height: 40px;
    margin-left: 50px;
}

.butt:hover{
    border: 3px solid white;
    color: white;
    background-color: yellowgreen;
    transition: .7s;
    font-size: 18px;
    box-shadow: 6px 5.5px 10px rgba(57, 93, 26, 0.81);
}
.butt:nth-child(3):hover{
    background-color: orange!important;
    box-shadow: 6px 5.5px 10px rgba(115, 88, 46, 0.81) !important;
}

.buttt{
    border-radius: 7px;
    outline: none;
    font-size: 15px;
    font-weight: bold;
    width: 80px;
    height: 30px;
}
.butttt{
    margin-right: 2px;
    border-radius: 7px;
    outline: none;
    font-size: 15px;
    font-weight: bold;
    width: 80px;
    height: 30px;
}
.buttt:hover{
    border: 3px solid white;
    color: white;
    background-color: orange;
    transition: .7s;
    font-size: 18px;
    box-shadow: 6px -5.5px 10px rgba(115, 88, 46, 0.81) !important;
}
.butttt:hover{
    border: 3px solid white;
    color: white;
    background-color: red;
    transition: .7s;
    font-size: 18px;
    box-shadow: 6px -5.5px 10px rgba(127, 56, 20, 0.81) !important;

}

.hrs{
    height: 0!important;
    box-shadow: 0 9px 15px black;
}
.hrs:nth-child(2){
    margin-top: 5px!important;
}

.btns{
    width: 140px;
    height: 40px;
    border-radius: 8px;
    outline: none;
    font-family: cursive;
    font-weight: bold;
    font-size: 19px;
    border: 3px solid black;
}
.btns:hover{
    border: 3px solid white;
    color: white;
    background-color: rgba(0, 0, 0, 0.85);
    transition: .7s;
    font-size: 22px;
    box-shadow: 6px -5.5px 10px rgba(39, 39, 39, 0.81);
}

.inputss{
    margin-top: 20px;
    margin-left: 60px;
    padding: 10px 0;
    border-radius: 5px;
    font-size: 22px;
    border: none;
    text-align: center;
    outline: none;
    width: 370px;
    background-color: rgba(158, 158, 158, 0.51);
}

.editEventsButton{
    margin-left: 770px;
}
.videoModal{
    position: absolute;
    transform: translate(212px, 30px);
    background-color: rgba(158, 158, 158, 0.51);
    height: 340px;
    width: 495px;
    border-radius: 10px;
}

.eventModal{
    position: absolute;
    transform: translate(732px, 30px);
    background-color: rgba(158, 158, 158, 0.51);
    height: 660px;
    width: 495px;
    border-radius: 10px;
    margin-bottom: 100px;
}

.eventModalEdit{
    position: absolute;
    transform: translate(528px, -330px);
    /*background-color: rgba(158, 158, 158, 0.51);*/
    background-color: white;
    border: 3px solid rgba(158, 158, 158, 0.51);;
    height: 660px;
    width: 495px;
    border-radius: 10px;
    margin-bottom: 100px;
}

.butts{
    width: 110px;
    height: 40px;
    margin-top: 40px;
    font-family: cursive;
    font-size: 24px;
    outline: none;
    border-radius: 7px;
    background-color: rgba(158, 158, 158, 0.51);
}
.saveBtn{
    margin-left: 70px;
}
.closeBtn{
    margin-left: 305px;
    transform: translateY(-80px) !important;
}

.saveBtn:hover{
    border: 3px solid yellow;
    color: yellow;
    background-color: green;
    transition: .7s;
    font-size: 22px;
    box-shadow: 6px -5.5px 10px rgba(39, 39, 39, 0.81);
}
.closeBtn:hover{
    border: 3px solid yellow;
    color: yellow;
    background-color: red;
    transition: .7s;
    font-size: 22px;
    box-shadow: 6px -5.5px 10px rgba(39, 39, 39, 0.81);
}
.eventCard{
    width: 260px!important;
    height: 360px!important;
    border: 2px solid black!important;
}
.textEvent{
    padding: 10px;
}
.deleteModal{
    transform: translate(670px, -170px);
    font-size: 20px;
    text-align: center;
    width: 280px;
    position: absolute;
    border: 2px solid #bf0000;
    border-radius: 15px;
    height: auto;
    background-color: #fff;
    color: #bf0000;
}
.deleteBtn{
    outline: none;
    width: 65px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bolder;
}
.yes{
    margin-right: 10px;
    border: 2px solid red;
    color: red;
}
.yes:hover{
    background-color: red;
    color: white;
    border: 2px solid white;
}
.no{
    border: 2px solid orange;
    color: orange;
}
.no:hover{
    background-color: orange;
    color: white;
    border: 2px solid white;
}


.input-files {
    display: none;
}
.upload-btn {
    margin-top: 20px;
    margin-left: 60px;
    padding: 10px 0;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    text-align: center;
    outline: none;
    width: 370px;
    background-color: rgba(158, 158, 158, 0.51);
    display: block;
    height: 50px;
    line-height: 30px;
}
.upload-btn:hover {
    background-color: rgba(131, 131, 131, 0.79);
    color: white;
    cursor: pointer;
}