.body2{
    margin: 0 auto;
    width: 1200px;
    display: flex;
    flex-direction: column;
}
.body2 .youTubeVideo{
    position: absolute;

}
.all{
    position: fixed;
}
.closeButton{
    margin-left: 350px;
    padding: 2px 4px;
}
.closeButton:hover{
    cursor: pointer;
    background: #f3c4c4;
    color: red;
    border: 1px solid darkred;
    border-radius: 3px;
    box-shadow: 0 2px 15px darkred;
}
.m{
    color: red;
}
.body2 h3{
    width: 55%;
    padding: 90px 20px 50px 0;
    font-size: 55px;
}
.body2 p{
    width: 55%;
    padding: 0 0 50px 0 ;
    font-size: 22px;
    line-height: 35px;
}
.anonslar{
    padding: 0 30px 0 0;
    margin-bottom: 150px;
}
.buttonAnonslar{
    height: 60px;
    width: 200px;
}
.buttonKirish{
    margin-left: 70px;
    background-color: #f5122d;
    border-color: #f5122d;
    color: white;
    height: 60px;
    width: 200px;
}
.buttonKirish:hover{
    box-shadow: 0 2px 25px rgb(248, 122, 146);
    background-color: #f5122d;
    cursor: pointer;
    border: 1px solid #f5122d;
}
.buttonKirish:link{
    border: 1px solid #f5122d;
}
.tadbirlar{
    width: 1100px;
    margin:60px auto ;
    display: flex;
}
.tadbirlar h1{
    margin-left: -52px;
}
.tadbirlar .buttonBarchasi{
    margin-left: auto;
}
.body2 h2{
    text-align: center;
}