.man {
    width: 50px;
}

.name p {
    margin-bottom: 0;
}

.name:hover {
    cursor: pointer;
}

.spanRight {
    font-size: 30px;
}

.booking p {
    color: white;
}

.booking .spanRight {
    color: white;
}

.longCard {
    width: auto;
    height: auto;
    border: none;
    background: #ffffff;
    overflow: hidden;
    transition: box-shadow 0.5s ease;
}

.longCard:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.prices {
    border-right: 1px solid black;
}

.price {
    font-size: 30px;
}

.cardFooter {
    padding-top: 20px;
}
.waiting{
    border-bottom: 1px solid #a5a3a3;
}
.booking {
    margin: 0 auto;
    width: 380px;
    height: 0;
    opacity: 0;
    position: absolute;
    transition: all .4s linear;
    background-color: #f5122d;
    transform: translateZ(0);

}
.mainCard:hover .booking {
    width: 380px;
    height: 100px;
    cursor: pointer;
    opacity: 1;
    transform: translateY(-100px);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.mainCard:hover .bodyCard{
    transition: all .3s linear;
    box-shadow: 2px 10px 15px #cb9aa0;
    border-right: 2px solid #f5122d;
    border-left: 2px solid #f5122d;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.bodyCard{
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
}

.dropdownCabinet {
    padding: 60px;
    background-color: white;
    margin-top: 13px;
    margin-left: -120px;
    position: absolute;
    width: 230px;
    height: 350px;
    border-radius: 5px;
    border: 1px solid grey;
}

.cabLi {
    color: grey;
    width: 210px;
    margin-left: -50px;
    list-style: none;
}

.cabLi:hover {
    background-color: lightgray;
}

.balance {
    padding: 20px 10px;
    background-color: #f63047;
    margin-top: -50px;
    margin-left: -45px;
    margin-bottom: 20px;
    height: 100px;
    width: 200px;
    border-radius: 5px;
}

.homeCab {
    font-size: 27px;
}

.dropdown-header {
    margin-top: 0;
    margin-right: -250px;
    width: auto;
    padding: 0;
}