
.vText{
    padding: 30px;
    font-size: 33px;
}
.searching{
    transform: translate(40px 20px);
    top: 30px!important;
}

.searchIcon{
    transform: scale(2);
    margin-left: 70px;
    margin-top: 30px;
}
.videoInput{
    display: none;
    background-color: rgba(243, 236, 236, 0.15);
    outline: none;
    border: none;
    transform: translateX(30px);
    font-size: 20px;
}
.video-btn {
    outline: none;
    margin-left: 10px;
    width: auto;
    padding: 10px 20px;
    height: 40px;
    margin-top: 50px;
    border-radius: 5px;
    border: 1px solid red;
    cursor: pointer;
    transform: translateY(-20px);
}

.video-btn:hover {
    color: white;
    border: 1px solid #9c0000;
    background-color: rgba(252, 3, 3, 0.8);
}

.videos-btn {
    margin-left: auto;
}

.first {
    display: block;
}

.second {
    display: block;
}

.row-body{
    display: inline-flex;
}
.cardYu{
    border-radius: 10px;
    width: 260px;
    height: 160px;
    margin: 5px;
}
.card-group{
    display: flex!important;
    flex-wrap: wrap!important;
}
.iframe{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.cardYu:hover{
    box-shadow: 1px 10px 20px #464646;
}