
.imgReg{
    width: 100%;
    border-top-left-radius: 10px;
}
.cardList{
    margin-top: 50px;
    background-color: #fbfdfd;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 20px 20px rgba(0,0,0,0.2);
    z-index: 999;
    position: relative;
}
.eventButton{
    background-color: #f5122d;
    color: white;
}
.eventButton:hover{
    background-color: #f5122d;
    color: white;
    cursor: pointer;
    border: 1px solid #f5122d;
}
.regNumber{
    width: 60px;
    height: 60px;
    border: 2px solid #1dd1a1;
    border-radius: 50%;
    padding: 5px 17px;
}
.avForm{
    margin: 40px 90px;
}
.avField{
    height: 50px;
    border: 1px solid #1dd1a1;
    color: #045d45;
}
.avField2{
    height: 50px;
    border: 1px solid #1dd1a1;
    color: #045d45;
    width: 282px;
}
.placeLi::before{
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    margin-right: 5px;
}
.placeLi2::before{
    background-color: #817474;
}
.placeLi3::before{
    background-color: #1dd1a1;
}
.seatButton{
    border: none;
    width: 80px;
    border-radius: 5px;
    background-color: #50e0ba;
}
.nextButton{
    width: 150px;
    height: 45px;
}
.prevButton{
    width: 150px;
    height: 45px;
}
.prevButton:hover{
    background-color: lightgrey;
    border: 1px solid #989595;
    box-shadow: 2px 5px 15px lightgray;
}
.nextButton:hover{
    background-color: #83e9cd;
    border: 1px solid #1dd1a1;
    box-shadow: 2px 5px 15px lightblue;
}
.bgRed{
    background-color: #f63047;
}
.bgDefault{
    background-color: #50e0ba;
}
