body{
    margin: 0!important;
}

.regRow{
    background-color: #e5e5e5;
}
.registerPage{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.logos{
    width: 150px;
    margin-left: 250px;
    margin-top: 50px;
}

.mainInput{
    margin-top: 50px;
    margin-left: 170px;
    padding: 20px 35px;
    border-radius: 5px;
    outline: none;
    font-size: 22px;
    border: none;
}
.inputs{
    width: auto;
    height: auto;
    margin-top: 10px;
    margin-left: 170px;
    padding: 17px 35px;
    border-radius: 5px;
    font-size: 22px;
    border: none;
    outline: none;

}
.imgCol{
    padding: 0!important;
}
.loginButtonEnter{
    font-size: 23px;
    text-align:center;
    /*background-color: #f3486b;*/
    /*border: 2px solid #f13b60;*/
    border-radius: 5px;
    margin-left: 170px;
    margin-top: 1%;
    width: 342px;
    height: 60px;
    outline: none;
}
.loginButtonEnter:hover{
    background: #f5122d;
    color: white;
    border: 2px solid red;
    transition: .4s ease-in;
}
.loginButtonEnter2{
    font-size: 23px;
    text-align:center;
    /*border: 2px solid #ff674f;*/
    border-radius: 5px;
    margin-left: 170px;
    margin-top: 2%;
    width: 342px;
    height: 60px;
    outline: none;
}
.loginButtonEnter2:hover{
    background: #f5122d;
    color: white;
    border: 2px solid red;
    transition: .4s ease-in;
}

.loginInput{
    display: inline-block !important;
}


.noMatch{
    transform: scale(5);
}

.registerOrLogin{
    margin-top: 50px;
}