.bgColor{
    background-color: #ebeeec;
}
.user{
    padding-top:50px;
}
.userIcon{
    padding: 15px 20px;
    border-radius: 50%;
    font-size: 80px;
    background-color: #c9cbca;
    color: grey;
}
.form{
    width: 100%;
    height: 50px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}
.form input{
    width: 100%;
    height: 100%;
    padding-top: 15px;
    padding-left: 10px;
    font-size: 20px;
    border-radius: 4px;
    border: 1px solid #726f6f;
    outline: none;
}
.form .input{
    width: 100%;
    height: 100%;
    padding-top: 15px;
    padding-left: 10px;
    font-size: 20px;
    border-radius: 4px;
    border: 1px solid #726f6f;
    outline: none;
}
.form label{
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}
.form label::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    height: 100%;
    width: 100%;
    border-bottom: 2px solid darkcyan;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}
.content-name{
    position: absolute;
    bottom: 5px;
    left: 10px;
    transition: all 0.3s ease;
    font-size: 20px;
}
.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name{
    transform: translateY(-120%);
    left: 5px;
    font-size: 12px;
    color: #78a7a7;
}
.form input:focus + .label-name::after,
.form input:valid + .label-name::after{
    transform: translateX(0%);
}

.form .input:focus + .label-name .content-name,
.form .input:valid + .label-name .content-name{
    transform: translateY(-120%);
    left: 5px;
    font-size: 12px;
    color: #78a7a7;
}
.form .input:focus + .label-name::after,
.form .input:valid + .label-name::after{
    transform: translateX(0%);
}
.modalSettings{
    margin-left: 140px;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 10px 20px;
    background-color: white;
    border-radius: 10px;
    transition: box-shadow 0.5s ease;
}
.modalSettings:hover{
    box-shadow: 0 5px 15px #9b9696;
    transition: all 0.3s linear;
}
.save{
    background-color:#1dd1a1;
    border: 1px solid #1dd1a1;
    color: white;
}
.save:hover{
    color: white;
    background-color: #1dd1a1;
    border: 1px solid #1dd1a1;
    box-shadow: 0 2px 15px #1dd1a1;
}
.exitSpan{
    font-size: 40px;
    color: #726f6f;
}
.exitSpan:hover{
    cursor: pointer;
}