.brand{
    width: 140px!important;
    height: 140px!important;
    line-height: 110px!important;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    box-shadow: 0 2px 15px rgba(0,0,0,0.5);
    margin:auto;
    position: relative;
}
.brand img{
    width: 80%;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
}


.brand::before{
    content: "";
    display: block;
    border-radius: 50%;
    border: 2px solid #d0021b;
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: .5;
    animation: brand-effect1 4s linear infinite;
    transform: translateY(-50%) translateX(-50%) ;
    animation-delay: 3s;
}

.brand::after{
    content: "";
    display: block;
    border-radius: 50%;
    border: 2px solid #d0021b;
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: .5;
    animation: brand-effect2 4s linear infinite;
    transform: translateY(-50%) translateX(-50%) ;
    animation-delay: 5.5s;
}
@keyframes brand-effect1 {
    0%{
    width: 140px;
        height: 140px;
    }
    25%{
        width: 200px;
        height: 200px;
    }
    50%{
        width: 300px;
        height: 300px;
    }
    75%{
        width: 400px;
        height: 400px;
    }
    100%{
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}

@keyframes brand-effect2 {
    0%{
        width: 140px;
        height: 140px;
    }
    25%{
        width: 200px;
        height: 200px;
    }
    50%{
        width: 300px;
        height: 300px;
    }
    75%{
        width: 400px;
        height: 400px;
    }
    100%{
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}

.allSpeakers{
    position: relative;
    padding-top: 250px;
    padding-bottom: 250px;
}
.speakers img{
    position: absolute;
    border-radius: 50%;
    z-index:1;
}
.speakers .img1{
    top: 0;
    left: 400px;
}
.speakers .img2{
    top: 50px;
    left: 950px;
}
.speakers .img3{
    top: 100px;
    left: 200px;
}
.speakers .img4{
    top: 110px;
    left: 560px;
}
.speakers .img5{
    top: 170px;
    left: 750px;
}
.speakers .img6{
    top: 350px;
    left: 50px;
}
.speakers .img7{
    top:330px;
    left: 400px;
}
.speakers .img8{
    top: 370px;
    left: 700px;
}
.speakers .img9{
    top: 340px;
    left:1000px ;
}
.speakers .img10{
    top: 500px;
    left: 300px;
}
.speakers .img11{
    top: 550px;
    left: 800px;
}